@model HITWashing.Models.DBClass.BalanceModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BalanceModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BalanceID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.BalanceID">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
