@model BSXWashing.Models.DBClass.TopupModel

@{
    ViewData["Title"] = "充值记录";
    ViewData["SubTitle"] = "充值记录";
}

<div class="jumbotron" style="background-color:lightseagreen">
    <h2 style="color:white">@ViewData["Title"]</h2>
    <h4>
        <span class="label label-warning">@ViewData["SubTitle"]</span>
    </h4>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopupValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopupValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TopupTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopupTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TopupNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TopupNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>
    </dl>
</div>
