@model IEnumerable<BSXWashing.Models.DBClass.TopupModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TopupValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TopupTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TopupNote)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopupValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopupTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopupNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TopupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TopupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TopupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
