@model IEnumerable<BSXWashing.Models.DBClass.TopupModel>

@{
    ViewData["Title"] = "充值记录";
    bool flag = ViewData["Flag"].ToString() == "OK" ? false : true;
}

<div class="jumbotron" style="background-color:peru">
    <h2 style="color:white">@ViewData["Title"]</h2>
    @if (flag)
    {
        <p style="color:white" class="lead">
            @Html.ActionLink("余额充值", "Create", "TopupModels", null, htmlAttributes: new { @class = "btn btn-success" })
        </p>
    }

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopupValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopupTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopupNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.AccountName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TopupID">@Html.DisplayFor(modelItem => item.TopupValue)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopupTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopupNote)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
