@model IEnumerable<BSXWashing.Models.DBClass.TopupModel>

@{
    ViewData["Title"] = "充值记录";
    bool flag = ViewData["Flag"].ToString() == "OK" ? false : true;
}

<div class="jumbotron" style="background-color:peru">
    <h2 style="color:white">@ViewData["Title"]</h2>
    @if (flag)
    {
        <p style="color:white" class="lead">
            @Html.ActionLink("余额充值", "Create", "TopupModels", null, htmlAttributes: new { @class = "btn btn-success" })
            <a id="OJBK" class="btn btn-info">导出表格</a>
        </p>
    }

</div>

<table class="table" id="downloadTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopupValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopupTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopupNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.AccountName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TopupID">@Html.DisplayFor(modelItem => item.TopupValue)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopupTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopupNote)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // 使用outerHTML属性获取整个table元素的HTML代码（包括<table>标签），然后包装成一个完整的HTML文档，设置charset为urf-8以防止中文乱码
    var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("downloadTable").outerHTML + "</body></html>";
    // 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
    var blob = new Blob([html], { type: "application/vnd.ms-excel" });
    var a = document.getElementById("OJBK");
    // 利用URL.createObjectURL()方法为a元素生成blob URL
    a.href = URL.createObjectURL(blob);
    // 设置文件名，目前只有Chrome和FireFox支持此属性
    a.download = "充值记录.xls";
</script>