@model IEnumerable<BSXWashing.Models.DBClass.WarehouseModel>

@{
    ViewData["Title"] = "库存管理";
    ViewData["SubTitle"] = "点击库存编号查看详情";
}

<div class="jumbotron" style="background-color:lightsalmon">
    <h2 style="color:white">@ViewData["Title"]</h2>
    <h4>
        <span class="label label-warning">@ViewData["SubTitle"]</span>
    </h4>
    <p style="color:white" class="lead">
        <a id="OJBK" class="btn btn-danger">导出表格</a>
        @Html.ActionLink("添加库存", "Create", "WarehouseModels", null, htmlAttributes: new { @class = "btn btn-success" })
    </p>
</div>

<table class="table" id="downloadTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WareNote)
            </th>
            <th>
                用户
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.WarehouseID">ID: @Html.DisplayFor(modelItem => item.WarehouseID)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WareNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.AccountName)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-xs btn-info" asp-route-id="@item.WarehouseID">编辑</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // 使用outerHTML属性获取整个table元素的HTML代码（包括<table>标签），然后包装成一个完整的HTML文档，设置charset为urf-8以防止中文乱码
    var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("downloadTable").outerHTML + "</body></html>";
    // 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
    var blob = new Blob([html], { type: "application/vnd.ms-excel" });
    var a = document.getElementById("OJBK");
    // 利用URL.createObjectURL()方法为a元素生成blob URL
    a.href = URL.createObjectURL(blob);
    // 设置文件名，目前只有Chrome和FireFox支持此属性
    a.download = "库存记录.xls";
</script>