@model BSXWashing.Models.DBClass.ItemModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
