@model IEnumerable<BSXWashing.Models.DBClass.AccountModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>批量地址</title>
    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }

        #l-map {
            height: 100%;
            width: 100%;
        }

        #r-result {
            width: 100%;
            font-size: 14px;
            line-height: 20px;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Hfbv9K6fga0fOoKHg1zA2f0NqzrWFn31"></script>
</head>
<body>
    <div id="l-map"></div>

    <div hidden="hidden">
        @foreach (var item in Model)
        {
            <hit name="address">
                @item.Address
            </hit>

            <hit name="store">
                @item.StoreName
            </hit>

            var myWare = item.Warehouses.First();

            <hit name="ware">
                @if (myWare.ItemNum1 != 0)
                {
                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum1)
                    <span>-</span>
                    @myWare.ItemNum1
                    <br />}
                @if (myWare.ItemNum2 != 0)
                {
                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum2)
                    <span>-</span>
                    @myWare.ItemNum2
                    <br />}
                @if (myWare.ItemNum3 != 0)
                {
                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum3)
                    <span>-</span>
                    @myWare.ItemNum3

                    <br />}
                @if (myWare.ItemNum4 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum4)
                    <span>-</span>
                    @myWare.ItemNum4

                    <br />}
                @if (myWare.ItemNum5 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum5)
                    <span>-</span>
                    @myWare.ItemNum5

                    <br />}

                @if (myWare.ItemNum6 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum6)
                    <span>-</span>

                    @myWare.ItemNum6

                    <br />}
                @if (myWare.ItemNum7 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum7)
                    <span>-</span>
                    @myWare.ItemNum7


                    <br />}
                @if (myWare.ItemNum8 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum8)
                    <span>-</span>
                    @myWare.ItemNum8

                    <br />}
                @if (myWare.ItemNum9 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum9)
                    <span>-</span>
                    @myWare.ItemNum9

                    <br />}
                @if (myWare.ItemNum10 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum10)
                    <span>-</span>
                    @myWare.ItemNum10

                    <br />}

                @if (myWare.ItemNum11 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum11)
                    <span>-</span>

                    @myWare.ItemNum11

                    <br />}
                @if (myWare.ItemNum12 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum12)
                    <span>-</span>

                    @myWare.ItemNum12


                    <br />}
                @if (myWare.ItemNum13 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum13)
                    <span>-</span>
                    @myWare.ItemNum13

                    <br />}
                @if (myWare.ItemNum14 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum14)
                    <span>-</span>
                    @myWare.ItemNum14

                    <br />}
                @if (myWare.ItemNum15 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum15)
                    <span>-</span>
                    @myWare.ItemNum15

                    <br />}


                @if (myWare.ItemNum16 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum16)
                    <span>-</span>
                    @myWare.ItemNum16

                    <br />}
                @if (myWare.ItemNum17 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum17)
                    <span>-</span>
                    @myWare.ItemNum17

                    <br />}
                @if (myWare.ItemNum18 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum18)
                    <span>-</span>
                    @myWare.ItemNum18

                    <br />}
                @if (myWare.ItemNum19 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum19)
                    <span>-</span>
                    @myWare.ItemNum19

                    <br />}
                @if (myWare.ItemNum20 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum20)
                    <span>-</span>
                    @myWare.ItemNum20

                    <br />}

                @if (myWare.ItemNum21 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum21)
                    <span>-</span>
                    @myWare.ItemNum21

                    <br />}        @if (myWare.ItemNum22 != 0)
                {

                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum22)
                    <span>-</span>
                    @myWare.ItemNum22

                    <br />}        @if (myWare.ItemNum23 != 0)
                    {

                        @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum23)
                        <span>-</span>
                        @myWare.ItemNum23

                        <br />}        @if (myWare.ItemNum24 != 0)
                    {

                        @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum24)
                        <span>-</span>
                        @myWare.ItemNum24

                        <br />}        @if (myWare.ItemNum25 != 0)
                        {

                            @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum25)
                            <span>-</span>
                            @myWare.ItemNum25

                            <br />}
                        @if (myWare.ItemNum26 != 0)
                        {

                            @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum26)
                            <span>-</span>
                            @myWare.ItemNum26

                            <br />}
                        @if (myWare.ItemNum27 != 0)
                        {

                            @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum27)
                            <span>-</span>
                            @myWare.ItemNum27

                            <br />}
                        @if (myWare.ItemNum28 != 0)
                        {

                            @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum28)
                            <span>-</span>
                            @myWare.ItemNum28

                            <br />}
                        @if (myWare.ItemNum29 != 0)
                        {

                            @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum29)
                            <span>-</span>
                            @myWare.ItemNum29

                            <br />}
                        @if (myWare.ItemNum30 != 0)
                        {

                            @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum30)
                            <span>-</span>
                            @myWare.ItemNum30

                            <br />}

                        @if (myWare.ItemNum31 != 0)
                        {

                            @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum31)
                            <span>-</span>
                            @myWare.ItemNum31

                            <br />}        @if (myWare.ItemNum32 != 0)
                        {

                            @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum32)
                            <span>-</span>
                            @myWare.ItemNum32

                            <br />}        @if (myWare.ItemNum33 != 0)
                            {

                                @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum33)
                                <span>-</span>
                                @myWare.ItemNum33

                                <br />}        @if (myWare.ItemNum34 != 0)
                            {

                                @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum34)
                                <span>-</span>
                                @myWare.ItemNum34

                                <br />}        @if (myWare.ItemNum35 != 0)
                                {

                                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum35)
                                    <span>-</span>
                                    @myWare.ItemNum35

                                    <br />}
                                @if (myWare.ItemNum36 != 0)
                                {

                                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum36)
                                    <span>-</span>
                                    @myWare.ItemNum36

                                    <br />}        @if (myWare.ItemNum37 != 0)
                                {

                                    @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum37)
                                    <span>-</span>
                                    @myWare.ItemNum37

                                    <br />}        @if (myWare.ItemNum38 != 0)
                                    {

                                        @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum38)
                                        <span>-</span>
                                        @myWare.ItemNum38

                                        <br />}        @if (myWare.ItemNum39 != 0)
                                    {

                                        @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum39)
                                        <span>-</span>
                                        @myWare.ItemNum39

                                        <br />}        @if (myWare.ItemNum40 != 0)
                                        {

                                            @Html.DisplayNameFor(m => m.Warehouses.First().ItemNum40)
                                            <span>-</span>
                                            @myWare.ItemNum40

                                            <br />}
                                    </hit>}
    </div>

</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("l-map");
    map.centerAndZoom(new BMap.Point(126.6389558404, 45.7537137743), 13);
    map.enableScrollWheelZoom(true);
    var index = 0;
    var myGeo = new BMap.Geocoder();
    var adds = [];
    var hitAddress = document.getElementsByName("address");
    for (i = 0; i < hitAddress.length; i++) {
        adds.push(hitAddress[i].innerText);
    }

    var stores = [];
    var hitStore = document.getElementsByName("store");
    var hitWare = document.getElementsByName("ware");
    for (i = 0; i < hitStore.length; i++) {
        stores.push(hitStore[i].innerText + "<br/>" + hitWare[i].outerHTML);
    }

    function bdGEO() {
        var add = adds[index];
        geocodeSearch(add);
        index++;
    }
    function geocodeSearch(add) {
        if (index < adds.length) {
            setTimeout(window.bdGEO, 400);
        }
        myGeo.getPoint(add, function (point) {
            if (point) {
                //document.getElementById("result").innerHTML += index + "、" + add + ":" + point.lng + "," + point.lat + "</br>";
                var address = new BMap.Point(point.lng, point.lat);
                addMarker(address, new BMap.Label(stores[index - 1], { offset: new BMap.Size(20, -10) }));
            }
        }, "哈尔滨市");
    }
    // 编写自定义函数,创建标注
    function addMarker(point, label) {
        var marker = new BMap.Marker(point);
        map.addOverlay(marker);
        marker.setLabel(label);
    }

    bdGEO()
</script>