@model IEnumerable<BSXWashing.Models.DBClass.DiscountModel>

@{
    ViewData["Title"] = "折扣信息管理";
}

<div class="jumbotron" style="background-color:lightseagreen">
    <h2 style="color:white">@ViewData["Title"]</h2>
    <h4 style="color:white">
        点击对应的折扣系数来进行编辑
    </h4>
    <p style="color:white" class="lead">
        @Html.ActionLink("添加折扣信息", "Create", "DiscountModels", null, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink("批量修改折扣信息", "Range", "DiscountModels", null, htmlAttributes: new { @class = "btn btn-warning" })
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiscountValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DiscountID">系数：@Html.DisplayFor(modelItem => item.DiscountValue)</a>                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountNote)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
