@model IEnumerable<BSXWashing.Models.DBClass.BorrowModel>

@{
    ViewData["Title"] = "用户提货订单管理";
    ViewData["SubTitle"] = "对用户下达的提货订单进行管理";

    var today = Model.Where(x => x.StartTime.Date == DateTime.Now.Date);
}

<div class="jumbotron" style="background-color:mediumseagreen">
    <h2 style="color:white">@ViewData["Title"]</h2>
    <p style="color:white" class="lead">
        @ViewData["SubTitle"]
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">订单筛选</button>
        <a id="OJBK" class="btn btn-danger">导出表格</a>
        
    </p>
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <span class="badge">@today.Sum(x => x.OrderMoney)</span>
        今日订单总金额
    </li>
    <li class="list-group-item list-group-item-warning">
        <span class="badge">@today.Where(x => x.IsCompleted).Sum(x => x.OrderMoney)</span>
        已完成金额
    </li>
</ul>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#inve" aria-controls="inve" role="tab" data-toggle="tab">历史提货订单</a></li>
        <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">配送中的提货订单</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">已送达的提货订单（用户未确认）</a></li>
        <!--
        <li role="presentation"><a href="#setting" aria-controls="setting" role="tab" data-toggle="tab">已取消的提货订单</a></li>
    -->

    </ul>
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="inve">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            提货订单编号
                            @*@Html.DisplayNameFor(model => model.BorrowOrderID)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TranName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderMoney)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account.AccountName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.IsCompleted || x.IsCanceled))
                {
                    <tr>
                        <td>
                            <a class="label label-warning" asp-action="Details" asp-route-id="@item.BorrowOrderID">ID:@Html.DisplayFor(modelItem => item.BorrowOrderID)</a>
                        </td>
                        <td>
                            <a class="label label-success" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.TranName">@Html.DisplayFor(modelItem => item.TranName)</a>
                        </td>
                        <td>
                            <span class="label label-danger">
                                @Html.DisplayFor(modelItem => item.OrderMoney)
                            </span>
                        </td>
                        <td>
                            <a class="label label-info" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="home">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            提货订单编号
                            @*@Html.DisplayNameFor(model => model.BorrowOrderID)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderMoney)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account.AccountName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TranName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => !string.IsNullOrEmpty(x.TranName) && !x.IsCompleted && !x.IsCanceled))
                {
                    <tr>
                        <td>
                            <a class="label label-warning" asp-action="Details" asp-route-id="@item.BorrowOrderID">ID:@Html.DisplayFor(modelItem => item.BorrowOrderID)</a>
                        </td>
                        <td>
                            <span class="label label-danger">
                                @Html.DisplayFor(modelItem => item.OrderMoney)
                            </span>
                        </td>
                        <td>
                            <a class="label label-info" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                        </td>
                        <td>
                            <a class="label label-success" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.TranName">@Html.DisplayFor(modelItem => item.TranName)</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="profile">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            提货订单编号
                            @*@Html.DisplayNameFor(model => model.BorrowOrderID)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TranName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderMoney)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account.AccountName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.IsTraned && !x.IsCompleted))
                {
                    <tr>
                        <td>
                            <a class="label label-warning" asp-action="Details" asp-route-id="@item.BorrowOrderID">ID:@Html.DisplayFor(modelItem => item.BorrowOrderID)</a>
                        </td>
                        <td>
                            <a class="label label-success" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.TranName">@Html.DisplayFor(modelItem => item.TranName)</a>
                        </td>
                        <td>
                            <span class="label label-danger">
                                @Html.DisplayFor(modelItem => item.OrderMoney)
                            </span>
                        </td>
                        <td>
                            <a class="label label-info" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
        <!--
            <div role="tabpanel" class="tab-pane fade" id="setting">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>
                                提货订单编号
                                @*@Html.DisplayNameFor(model => model.BorrowOrderID)*@
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TranName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderMoney)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Account.AccountName)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.IsCanceled))
                        {
                            <tr>
                                <td>
                                    <a class="label label-warning" asp-action="Details" asp-route-id="@item.BorrowOrderID">ID:@Html.DisplayFor(modelItem => item.BorrowOrderID)</a>
                                </td>
                                <td>
                                    <a class="label label-success" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.TranName">@Html.DisplayFor(modelItem => item.TranName)</a>
                                </td>
                                <td>
                                    <span class="label label-danger">
                                        @Html.DisplayFor(modelItem => item.OrderMoney)
                                    </span>
                                </td>
                                <td>
                                    <a class="label label-info" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    -->
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Index", "BorrowModels", FormMethod.Get))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">查询条件</h4>
                </div>
                <div class="modal-body">

                    <div class="form">

                        <div class="form-group">
                            @Html.TextBox("start", "", htmlAttributes: new { @class = "form-control", placeholder = "开始时间" })
                        </div>

                        <div class="form-group">
                            @Html.TextBox("end", "", htmlAttributes: new { @class = "form-control", placeholder = "结束时间" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("name", "", htmlAttributes: new { @class = "form-control", placeholder = "用户账号" })
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <input type="submit" value="查询" class="btn btn-success" />
                </div>
            </div>

        }
    </div>
</div>

<table class="table" hidden="hidden" id="downloadTable">
    <thead>
        <tr>
            <th>
                提货订单编号
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.AccountName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a class="label label-warning" asp-action="Details" asp-route-id="@item.BorrowOrderID">ID:@Html.DisplayFor(modelItem => item.BorrowOrderID)</a>
            </td>
            <td>
                <a class="label label-success" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.TranName">@Html.DisplayFor(modelItem => item.TranName)</a>
            </td>
            <td>
                <span class="label label-danger">
                    @Html.DisplayFor(modelItem => item.OrderMoney)
                </span>
            </td>
            <td>
                <a class="label label-info" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    // 使用outerHTML属性获取整个table元素的HTML代码（包括<table>标签），然后包装成一个完整的HTML文档，设置charset为urf-8以防止中文乱码
    var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("downloadTable").outerHTML + "</body></html>";
    // 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
    var blob = new Blob([html], { type: "application/vnd.ms-excel" });
    var a = document.getElementById("OJBK");
    // 利用URL.createObjectURL()方法为a元素生成blob URL
    a.href = URL.createObjectURL(blob);
    // 设置文件名，目前只有Chrome和FireFox支持此属性
    a.download = "提货订单记录.xls";
</script>