@model IEnumerable<BSXWashing.Models.DBClass.BorrowModel>

@{
    ViewData["Title"] = "用户提货订单管理";
    ViewData["SubTitle"] = "对用户下达的提货订单进行管理";

    var today = Model.Where(x => x.StartTime.Date == DateTime.Now.Date);
}

<div class="jumbotron" style="background-color:mediumseagreen">
    <h2 style="color:white">@ViewData["Title"]</h2>
    <p style="color:white" class="lead">
        @ViewData["SubTitle"]
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">订单筛选</button>
    </p>
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <span class="badge">@today.Sum(x => x.OrderMoney)</span>
        今日订单总金额
    </li>
    <li class="list-group-item list-group-item-warning">
        <span class="badge">@today.Where(x => x.IsCompleted).Sum(x => x.OrderMoney)</span>
        已完成金额
    </li>
</ul>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#inve" aria-controls="inve" role="tab" data-toggle="tab">已完成订单</a></li>
        <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">配送中订单</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">已送达订单</a></li>
        <li role="presentation"><a href="#setting" aria-controls="setting" role="tab" data-toggle="tab">已取消订单</a></li>
    </ul>
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="inve">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowOrderID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TranName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderMoney)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account.AccountName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.IsCompleted))
                    {
                        <tr>
                            <td>
                                <a class="label label-warning" asp-action="Details" asp-route-id="@item.BorrowOrderID">ID:@Html.DisplayFor(modelItem => item.BorrowOrderID)</a>
                            </td>
                            <td>
                                <a class="label label-success" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.TranName">@Html.DisplayFor(modelItem => item.TranName)</a>
                            </td>
                            <td>
                                <span class="label label-danger">
                                    @Html.DisplayFor(modelItem => item.OrderMoney)
                                </span>
                            </td>
                            <td>
                                <a class="label label-info" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="home">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowOrderID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderMoney)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account.AccountName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.TranName)))
                    {
                        <tr>
                            <td>
                                <a class="label label-warning" asp-action="Details" asp-route-id="@item.BorrowOrderID">ID:@Html.DisplayFor(modelItem => item.BorrowOrderID)</a>
                            </td>
                            <td>
                                <span class="label label-danger">
                                    @Html.DisplayFor(modelItem => item.OrderMoney)
                                </span>
                            </td>
                            <td>
                                <a class="label label-info" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="profile">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowOrderID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TranName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderMoney)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account.AccountName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.IsTraned))
                    {
                        <tr>
                            <td>
                                <a class="label label-warning" asp-action="Details" asp-route-id="@item.BorrowOrderID">ID:@Html.DisplayFor(modelItem => item.BorrowOrderID)</a>
                            </td>
                            <td>
                                <a class="label label-success" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.TranName">@Html.DisplayFor(modelItem => item.TranName)</a>
                            </td>
                            <td>
                                <span class="label label-danger">
                                    @Html.DisplayFor(modelItem => item.OrderMoney)
                                </span>
                            </td>
                            <td>
                                <a class="label label-info" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="setting">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowOrderID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TranName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderMoney)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account.AccountName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.IsCanceled))
                    {
                        <tr>
                            <td>
                                <a class="label label-warning" asp-action="Details" asp-route-id="@item.BorrowOrderID">ID:@Html.DisplayFor(modelItem => item.BorrowOrderID)</a>
                            </td>
                            <td>
                                <a class="label label-success" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.TranName">@Html.DisplayFor(modelItem => item.TranName)</a>
                            </td>
                            <td>
                                <span class="label label-danger">
                                    @Html.DisplayFor(modelItem => item.OrderMoney)
                                </span>
                            </td>
                            <td>
                                <a class="label label-info" asp-action="Details" asp-controller="AccountModels" asp-route-id="@item.AccountName">@Html.DisplayFor(modelItem => item.Account.AccountName)</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Index", "BorrowModels", FormMethod.Get))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">查询条件</h4>
                </div>
                <div class="modal-body">

                    <div class="form">

                        <div class="form-group">
                            @Html.TextBox("start", "", htmlAttributes: new { @class = "form-control", placeholder = "开始时间" })
                        </div>

                        <div class="form-group">
                            @Html.TextBox("end", "", htmlAttributes: new { @class = "form-control", placeholder = "结束时间" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("name", "", htmlAttributes: new { @class = "form-control", placeholder = "用户账号" })
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <input type="submit" value="查询" class="btn btn-success" />
                </div>
            </div>

        }
    </div>
</div>