@model BSXWashing.Models.DBClass.PaybackModel

@{
    ViewData["SubTitle"] = "回收订单详情";

    var items = (List<BSXWashing.Models.ViewModel.ItemViewModel>)(ViewBag.ItemModels);
}

<div class="jumbotron" style="background-color:darkcyan">
    <h2 style="color:white">
        <span id="s_name" class="label label-info">@Model.Account.StoreName</span>
    </h2>
    <p style="color:white" class="lead">
        <span class="label label-warning">@Model.AccountName</span>
        <span class="label label-danger">@Model.Account.Address</span>
        <span class="label label-success">@Model.Account.MobileNumber</span>
    </p>
    <p style="color:white" class="lead">
        <span class="label label-default">@ViewBag.SubTitle</span>
    </p>
</div>

<script>
    function printBill() {
        var title = "类  型：回收订单\n商户名：" + document.getElementById("s_name").innerText
            + "\n配送人：" + document.getElementById("t_name").innerText
            + "\n时  间：" + document.getElementById("t_time").innerText;

        var realname = "&";

        var darkArray = document.getElementsByName("dark");

        for (var i = 0; i < darkArray.length; i++) {
            realname = realname + "&" + darkArray[i].innerText;
        }

        var describe = "&";

        var describeArray = document.getElementsByName("deep");

        for (var i = 0; i < describeArray.length; i++) {
            describe = describe + "&" + describeArray[i].innerText;
        }

        var total = "回收订单不需要计算金额";

        Android.showToast(title + realname + describe + "&&" + total);
    }
</script>

@using System.Security.Claims;
@{
    var t = User.FindFirst(ClaimTypes.Role);
    var userType = t == null ? "" : t.Value;

    if (userType == "配送专员" && Model.IsTraned)
    {
        <button class="btn btn-warning btn-block" onclick="printBill()">打印回收订单</button>
        <hr />
    }
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.DisplayNameFor(model => model.BorrowNote)</h3>
    </div>
    <div class="panel-body">
        @Html.DisplayFor(model => model.BorrowNote)
    </div>
</div>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#inve" aria-controls="inve" role="tab" data-toggle="tab">订单物品数量</a></li>
        <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">订单信息</a></li>
    </ul>
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="inve">
            <ul class="list-group">
                @foreach (var item in items)
                {
                    <li class="list-group-item">
                        <span name="deep" class="badge">@item.ItemQuantity<span>个*</span>@item.ItemTrueUnitValue</span>
                        <span name="dark">@item.ItemName</span>
                    </li>
                }
            </ul>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="home">

            <ul class="list-group">

                <li class="list-group-item list-group-item-info">
                    <span id="t_name" class="badge">@Html.DisplayFor(model => model.TranName)</span>
                    @Html.DisplayNameFor(model => model.TranName)
                </li>
                <li class="list-group-item list-group-item-success">
                    <span class="badge">@Html.DisplayFor(model => model.StartTime)</span>
                    @Html.DisplayNameFor(model => model.StartTime)
                </li>
                <li class="list-group-item list-group-item-success">
                    <span id="t_time" class="badge">@Html.DisplayFor(model => model.TranTime)</span>
                    @Html.DisplayNameFor(model => model.TranTime)
                </li>
                <li class="list-group-item list-group-item-success">
                    <span class="badge">@Html.DisplayFor(model => model.FinishTime)</span>
                    @Html.DisplayNameFor(model => model.FinishTime)
                </li>
                <li class="list-group-item list-group-item-danger">
                    <span class="badge">@Html.DisplayFor(model => model.IsCanceled)</span>
                    @Html.DisplayNameFor(model => model.IsCanceled)
                </li>
                <li class="list-group-item list-group-item-danger">
                    <span class="badge">@Html.DisplayFor(model => model.IsCompleted)</span>
                    @Html.DisplayNameFor(model => model.IsCompleted)
                </li>
                <li class="list-group-item list-group-item-danger">
                    <span class="badge">@Html.DisplayFor(model => model.IsTraned)</span>
                    @Html.DisplayNameFor(model => model.IsTraned)
                </li>
            </ul>
        </div>
    </div>

</div>