@model BSXWashing.Models.DBClass.PaybackModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaybackModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TranName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TranName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TranTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TranTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTraned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTraned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BorrowNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BorrowNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum18)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum19)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum19)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum20)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum20)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum21)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum21)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum22)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum22)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum23)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum23)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum24)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum24)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum25)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum25)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum26)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum26)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum27)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum27)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum28)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum28)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum29)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum29)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum30)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum30)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum31)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum31)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum32)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum32)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum33)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum33)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum34)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum34)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum35)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum35)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum36)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum36)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum37)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum37)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum38)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum38)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum39)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum39)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemNum40)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNum40)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>
    </dl>
</div>