@model HITWashing.Models.DBClass.AccountModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.AccountName">Delete</a> |
    <a asp-action="Edit" asp-route-id="@Model.AccountName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
