@model IEnumerable<HITWashing.Models.DBClass.AccountModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationX)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccountID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccountID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
